---
title: "Boost Your Brand with a Trust Signal: How to Obtain an Instagram Verification Status"
date: 2024-08-30T16:21:51.327Z
updated: 2024-08-31T16:21:51.327Z
categories:
  - BestProducts
description: "This Article Describes Boost Your Brand with a Trust Signal: How to Obtain an Instagram Verification Status"
excerpt: "This Article Describes Boost Your Brand with a Trust Signal: How to Obtain an Instagram Verification Status"
thumbnail: https://thmb.techidaily.com/76af2589a0e801a6b3434a05625504e9a24382860270c85ff4fd48c9e5e5afe1.png
---

## Elevate Your Gaming Experience: How to Hit and Maintain a Steady 120 FPS on Sony's PlayStation Groove
### What to Know

* Go to**Settings** \>**Screen and Video** \>**Video Output** and enable 120 Hz output. You'll also have to turn it on in-game.
* Make sure you have a compatible 120 Hz display.
* Only certain games support 120 frames per second on PS5.

 This article explains how to get 120 frames per second—which you'll also see as "FPS" or "Hz"–on PS5\. Not every game on PS5 supports this option, so while you can prep your console for it, it won't work for every title.  

## How to Turn On 120 FPS on PS5

 Most games that support 120 FPS also have other graphical modes that run at different frame rates, like 30 FPS and 60 FPS. You'll want to check your in-game settings for a 120 FPS toggle or a "Performance Mode" that you can turn on.

 Depending on the game, the exact setting you'll need to adjust and where it's located will change, but you can usually find what you're looking for in a "Video" or "Graphics" section in Settings or Options.

1. Turn on your PS5, and open**Settings** from the main menu.  
![Playstation 5 dashboard with Settings highlighted](https://www.lifewire.com/thmb/SgkRTTRVRqbxRg0AJLYr6FWqfG4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-remote-play-ps5-games-on-android-50896111-df8a16a465fe41e7aef3d5ad05b4a7c8.jpg)
2. Then, navigate to**Screen and Video** .  
![Screen and Video in PS5 settings](https://www.lifewire.com/thmb/YCLQ2vGLnavPgpRPNtxhU7n6NFw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Screen-and-Video-Settings-aa8ff277b8254627a1a8c88e1c91f9cf.jpg)
3. Choose**Video Output** on the left side of the screen.  
![Video Output in PS5 Screen and Video settings](https://www.lifewire.com/thmb/Xgk1MNv2WwvyRO7tv2bHEF4oiqo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Video-Output-46b505f379064535ac4977a29faee336.jpg)
4. Select**120 Hz Output** .  
![120 Hz Output in PS5 settings](https://www.lifewire.com/thmb/hxj9hKX_96UCkA07Y8Rzo91hvKo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/120-Output-9e18a336656f4caf97cc91724b032df2.jpg)
5. Select**Automatic** (you won't have an**On** option because not every game supports 120 Hz output).  
![The "Automatic" option ](https://www.lifewire.com/thmb/N0N2mbCdwDADtM0UH7Q50TlNT2U=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Automatic-8261fa6f79014410bb3948ebcbcac568.jpg)
6. Now, if a game has an option for 120 frames per second and you turn it on, your PS5 will output at that rate.

<!-- affiliate ads begin -->
<a href="https://appsumo.8odi.net/c/5597632/2087484/7443" target="_top" id="2087484"><img src="//a.impactradius-go.com/display-ad/7443-2087484" border="0" alt="" width="1200" height="600"/></a><img height="0" width="0" src="https://appsumo.8odi.net/i/5597632/2087484/7443" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## What You Need to Get 120 FPS on PS5

 The most important requirement is a display with a 120 Hz refresh rate. You can use a TV or a monitor, and displays with 120 Hz support are pretty common today, so you shouldn't have trouble finding one.

 If you're not sure if the display you've got has a 120 Hz refresh rate, the easiest way to check is to search up your model of display and consult its specs page. You may also find it in the info window on the back of your monitor or TV.

 You'll also need an HDMI 2.1 cable. You can use the HDMI cable that comes with the PS5, which is a 2.1\. However, if you're using a different cord (because the included one wasn't long enough, for example), you'll need to make sure it's that type.

 Lastly, keep in mind that not every game supports 120 FPS. You won't typically see that information on the game box, unfortunately, but you should find it in shop listings. And, of course, you can check the menus for a 120 FPS option.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=40203538&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/cc4b82e826b52ec41c810301548e8f48/products/audio-to-text-transcription-software.png" border="0">EaseText Audio to Text Converter for Windows (Personal Edition) - An intelligent tool to transcribe & convert audio to text freely </a>
<!-- affiliate ads end -->
## Which PS5 Games Support 120 FPS?

 There are over 100 PlayStation 5 games that support 120Hz, with more coming out all the time. Here are some popular ones:

* _Borderlands 3._
* The_Call of Duty_ series, including_Black Ops_ and_Modern Warfare_ .
* _Destiny 2_
* _Devil May Cry 5_
* _Doom Eternal_
* _EA Sports F1 '23_
* _God of War: Ragnarok_
* _MLB: The Show ('22_ and_'23_ )
* _Neon White_
* _Overwatch 2_
* _Resident Evil 7_
* _Uncharted: Legacy of Thieves Collection_

Was this page helpful?

Thanks for letting us know!

 Get the Latest Tech News Delivered Every Day

[Subscribe](https://www.lifewire.com/#)

Tell us why!

 Other  Not enough details  Hard to understand

 Submit

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://facebook-video-recording.techidaily.com/new-2024-approved-converting-stored-content-into-real-time-livestreams-on-social-media/"><u>[New] 2024 Approved  Converting Stored Content Into Real-Time Livestreams on Social Media</u></a></li>
<li><a href="https://instagram-video-recordings.techidaily.com/new-instagrams-icons-navigating-through-its-leading-25-stars/"><u>[New] Instagram's Icons  Navigating Through Its Leading 25 Stars</u></a></li>
<li><a href="https://screen-recording.techidaily.com/new-the-ultimate-companion-for-recording-google-video-calls-for-2024/"><u>[New] The Ultimate Companion for Recording Google Video Calls for 2024</u></a></li>
<li><a href="https://screen-video-capture.techidaily.com/new-your-guide-to-the-hottest-screen-free-android-gaming-apps-for-2024/"><u>[New] Your Guide to the Hottest Screen-Free Android Gaming Apps for 2024</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-2024-approved-adjusting-spotify-settings-stop-automated-podcast-suggestions/"><u>[Updated] 2024 Approved  Adjusting Spotify Settings  Stop Automated Podcast Suggestions</u></a></li>
<li><a href="https://vp-tips.techidaily.com/updated-a-comprehensive-guide-to-interoperable-playlists/"><u>[Updated] A Comprehensive Guide to Interoperable Playlists</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-the-leading-5-facebook-updates-to-note-this-year-for-2024/"><u>[Updated] The Leading 5 Facebook Updates to Note This Year for 2024</u></a></li>
<li><a href="https://vp-tips.techidaily.com/2024-approved-dial-down-dynamic-range-with-ease/"><u>2024 Approved  Dial Down Dynamic Range with Ease</u></a></li>
<li><a href="https://fox-links.techidaily.com/2024-approved-digital-display-delights-top-plugins-and-apps-for-photo-frames/"><u>2024 Approved  Digital Display Delights  Top Plugins & Apps for Photo Frames</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/6-fantastic-free-alternatives-for-adobe-photoshop-users/"><u>6 Fantastic Free Alternatives for Adobe Photoshop Users</u></a></li>
<li><a href="https://extra-lessons.techidaily.com/a-guide-to-creative-use-of-supplementary-footage-b-roll-for-2024/"><u>A Guide to Creative Use of Supplementary Footage (B-Roll) for 2024</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/change-the-hue-a-users-manual-to-modifying-mac-folder-appearances/"><u>Change the Hue: A User's Manual to Modifying Mac Folder Appearances</u></a></li>
<li><a href="https://buynow-info.techidaily.com/comprehensive-analysis-of-the-dji-mavic-air-2s-ultimate-choice-in-drones/"><u>Comprehensive Analysis of the DJI Mavic Air 2S - Ultimate Choice in Drones</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/1722868885876-comprehensive-fix-how-to-get-your-dvd-bd-or-cd-drive-to-work-again/"><u>Comprehensive Fix: How to Get Your DVD, BD, or CD Drive to Work Again</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/connect-and-play-setting-up-your-sony-playstation-vr-on-a-personal-computer/"><u>Connect and Play: Setting Up Your Sony PlayStation VR on a Personal Computer</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/diagnosing-and-fixing-502-bad-gateway-problems-for-webmasters/"><u>Diagnosing and Fixing 502 Bad Gateway Problems for Webmasters</u></a></li>
<li><a href="https://android-location.techidaily.com/easy-ways-to-manage-your-realme-v30t-location-settings-drfone-by-drfone-virtual/"><u>Easy Ways to Manage Your Realme V30T Location Settings | Dr.fone</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/enjoy-cinema-comfort-streaming-with-fandango-from-your-apple-tv/"><u>Enjoy Cinema Comfort: Streaming with Fandango From Your Apple TV</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/explore-my-top-picks-for-free-online-calendar-systems/"><u>Explore My Top Picks for Free Online Calendar Systems</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/exploring-how-domestic-wireless-roaming-comes-to-life-with-t-mobiles-unique-approach/"><u>Exploring How Domestic Wireless Roaming Comes to Life with T-Mobile's Unique Approach</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/exploring-why-governments-must-seek-diversification-away-from-big-tech-highlighted-by-microsofts-service-interruptions/"><u>Exploring Why Governments Must Seek Diversification Away From Big Tech, Highlighted By Microsoft's Service Interruptions</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/expose-hidden-folders-in-macos-a-user-friendly-guide-using-the-terminal/"><u>Expose Hidden Folders in macOS: A User-Friendly Guide Using the Terminal</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/1723862838291-eyoyo-em1n05-the-ultimate-compact-and-cost-effective-choice-in-portable-105-display-tech/"><u>Eyoyo EM1n05: The Ultimate Compact & Cost-Effective Choice in Portable 10.5” Display Tech.</u></a></li>
<li><a href="https://youtube-zero.techidaily.com/all-film-breakdown-premier-insights-on-youtube/"><u>Football Film Breakdown  Premier Insights on YouTube</u></a></li>
<li><a href="https://screen-mirror.techidaily.com/full-guide-on-mirroring-your-oppo-reno-8t-5g-to-your-pcmac-drfone-by-drfone-android/"><u>Full Guide on Mirroring Your Oppo Reno 8T 5G to Your PC/Mac | Dr.fone</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/gadget-galore-meets-literary-luxury-discovering-laptops-smartphones-and-books-together/"><u>Gadget Galore Meets Literary Luxury: Discovering Laptops, Smartphones & Books Together</u></a></li>
<li><a href="https://program-issues.techidaily.com/happiness-becomes-happinesses/"><u>Happiness Becomes Happinesses</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/home-ev-charging-essentials-a-complete-guide/"><u>Home EV Charging Essentials: A Complete Guide</u></a></li>
<li><a href="https://android-location-track.techidaily.com/how-to-detect-and-remove-spyware-on-samsung-galaxy-s23-drfone-by-drfone-virtual-android/"><u>How to Detect and Remove Spyware on Samsung Galaxy S23? | Dr.fone</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/how-to-ensure-proper-surge-protection-tips-and-tricks-for-your-tech-equipment/"><u>How to Ensure Proper Surge Protection: Tips and Tricks for Your Tech Equipment</u></a></li>
<li><a href="https://ai-vdieo-software.techidaily.com/in-2024-burning-videos-to-dvd-a-beginners-guide-for-windows-and-mac/"><u>In 2024, Burning Videos to DVD A Beginners Guide for Windows and Mac</u></a></li>
<li><a href="https://android-location-track.techidaily.com/in-2024-how-to-check-distance-and-radius-on-google-maps-for-your-oppo-find-x7-drfone-by-drfone-virtual-android/"><u>In 2024, How to Check Distance and Radius on Google Maps For your Oppo Find X7 | Dr.fone</u></a></li>
<li><a href="https://some-approaches.techidaily.com/in-2024-the-art-of-virtual-exploration-a-tactical-approach/"><u>In 2024, The Art of Virtual Exploration  A Tactical Approach</u></a></li>
<li><a href="https://sim-unlock.techidaily.com/in-2024-top-11-free-apps-to-check-imei-on-vivo-y200-phones-by-drfone-android/"><u>In 2024, Top 11 Free Apps to Check IMEI on Vivo Y200 Phones</u></a></li>
<li><a href="https://android-location-track.techidaily.com/in-2024-top-6-appsservices-to-trace-any-huawei-nova-y91-location-by-mobile-number-drfone-by-drfone-virtual-android/"><u>In 2024, Top 6 Apps/Services to Trace Any Huawei Nova Y91 Location By Mobile Number | Dr.fone</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/in-depth-tutorial-on-replacing-your-ipad-battery-safely-and-effectively/"><u>In-Depth Tutorial on Replacing Your iPad Battery Safely and Effectively</u></a></li>
<li><a href="https://win-dash.techidaily.com/install-official-geforce-rtx-3070-ti-drivers-on-windows-latest-version-for-win-10-8-and-7/"><u>Install Official GeForce RTX 3070 Ti Drivers on Windows - Latest Version for Win 10, 8 & 7</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/master-your-inbox-advanced-techniques-for-filtering-gmail-messages/"><u>Master Your Inbox: Advanced Techniques for Filtering Gmail Messages</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/maximize-your-reach-with-these-must-use-instagram-tags/"><u>Maximize Your Reach with These Must-Use Instagram Tags</u></a></li>
<li><a href="https://video-content-creator.techidaily.com/new-in-2024-video-editing-made-easy-splitting-videos-in-windows-live-movie-maker-for-pc-users/"><u>New In 2024, Video Editing Made Easy Splitting Videos in Windows Live Movie Maker for PC Users</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/nintendo-switch-starter-pack-essentials-understanding-included-items-and-accessories/"><u>Nintendo Switch Starter Pack Essentials: Understanding Included Items & Accessories</u></a></li>
<li><a href="https://win-able.techidaily.com/quick-fixes-for-when-apex-legends-fails-to-launch/"><u>Quick Fixes for When Apex Legends Fails to Launch</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/quick-tricks-to-pick-all-your-gmail-correspondences-simultaneously/"><u>Quick Tricks to Pick All Your Gmail Correspondences Simultaneously</u></a></li>
<li><a href="https://review-topics.techidaily.com/recover-your-messages-after-infinix-note-30-vip-has-been-deleted-by-fonelab-android-recover-messages/"><u>Recover your messages after Infinix Note 30 VIP has been deleted</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/restoring-discarded-mobile-numbers-on-android-systems-a-comprehensive-guide/"><u>Restoring Discarded Mobile Numbers on Android Systems – A Comprehensive Guide</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/simplifying-workflow-how-to-optimize-use-of-reminders-and-notifications-in-slack-applications/"><u>Simplifying Workflow: How to Optimize Use of Reminders and Notifications in Slack Applications</u></a></li>
<li><a href="https://common-error.techidaily.com/solving-the-dxgkrnl-fatal-error-in-videos-on-windows-a-step-by-step-guide/"><u>Solving the Dxgkrnl Fatal Error in Videos on Windows: A Step-by-Step Guide</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/step-by-step-guide-viewing-all-harry-potter-films-sequentially/"><u>Step-by-Step Guide: Viewing All Harry Potter Films Sequentially</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/the-quick-way-to-highlight-every-message-on-gmail-for-easy-organization/"><u>The Quick Way to Highlight Every Message on Gmail for Easy Organization</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/the-ultimate-guide-critical-considerations-before-acquiring-video-surveillance-devices/"><u>The Ultimate Guide: Critical Considerations Before Acquiring Video Surveillance Devices</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/top-tier-entertainment-a-look-at-the-8-superior-mobile-gaming-options/"><u>Top Tier Entertainment - A Look at the 8 Superior Mobile Gaming Options</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/top-rated-multiuser-video-chat-platforms/"><u>Top-Rated Multiuser Video Chat Platforms</u></a></li>
<li><a href="https://screen-recording.techidaily.com/transform-slideshow-into-video-for-2024/"><u>Transform Slideshow Into Video for 2024</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/uber-cost-efficiency-vs-taxi-pricing-whats-the-better-deal/"><u>Uber Cost Efficiency Vs. Taxi Pricing – What's the Better Deal?</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/understanding-electric-driveways-a-comprehensive-guide-to-bevs-phevs-and-fcevs/"><u>Understanding Electric Driveways: A Comprehensive Guide to BEVs, PHEVs & FCEVs</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/understanding-wireless-protocols-a-deep-dive-into-80211be-80211ax-and-more/"><u>Understanding Wireless Protocols: A Deep Dive Into 802.11Be, 802.11Ax, and More</u></a></li>
<li><a href="https://tech-recovery.techidaily.com/unlocking-the-secrets-your-ultimate-guide-to-scoring-a-lenovo-education-price-break/"><u>Unlocking the Secrets: Your Ultimate Guide to Scoring a Lenovo Education Price Break</u></a></li>
</ul></div>
